# Python
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
tst_venv/
venv/
.venv/

# Django
*.sqlite3
staticfiles/

# Logs
*.log

# Profiling
*.lprof
*.prof

# IDEs
.vscode/
.idea/

# Linux
*~

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Python Packaging
build/
dist/
*.egg-info/

# pytest
.coverage
.pytest_cache/
