# Python
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
tst_venv/
venv/
.venv/

# Django
db.sqlite3

# Static Files (werden auf Render erzeugt)
staticfiles/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Linux
*~

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Python Packaging
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/